---
import Sketch from "../sketch.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style is:global>
      html,
      body {
        height: 100%;
        margin: 0;
      }

      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      canvas {
        box-shadow:
          0 20px 25px -5px rgb(0 0 0 / 0.1),
          0 8px 10px -6px rgb(0 0 0 / 0.1);
      }
    </style>
  </head>
  <body>
    <Sketch />
  </body>
</html>
